.product-details {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.product-details h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

.product-details img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 8px;
}

.product-details p {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.product-details p strong {
    font-weight: bold;
}

/*  .product-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.625rem; /* Added margin for spacing 
} */
/*
.product-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.625rem;                   
} */      
 
@media (min-width: 430px) and (max-width: 767px) {


.product-details{
    width: 85%;
    align-items: center;
      justify-content: center;
  align-items: center;

}
}